{{ header }}
{{ column_left }}
<style type="text/css">
    #statusMessageContainer {
        text-align: center;
    }

    #statusMessageContainer p {
        text-align: left;
    }

    #dp_icon-info {
        float: left; 
        padding-right: 5px;
        font-size: 24px !important;
        margin-right: 15px;
    }

    /* Loader */
    .loading {
        position: relative;
        width: 100%;
        height: 70px;
    }

    .loading:after {
        font-family: Sans-Serif !important;
        box-sizing: border-box;
        content: '';
        position: absolute;
        z-index: 100;
        left: 50%;
        top: 50%;
        width: 40px;
        height: 40px;
        font-size: 40px;
        border-right: 3px solid #9e191d;
        border-bottom: 1px solid #ebebeb;
        border-top: 2px solid #9e191d;
        border-radius: 100px;
        margin: -30px 0 0 -20px; 
        animation: spin .75s infinite linear;
        -webkit-animation: spin .75s infinite linear;
        -moz-animation: spin .75s infinite linear;
        -o-animation: spin .75s infinite linear;
    }

    .spin {
        -webkit-animation: spin 1000ms infinite linear;
        animation: spin 1000ms infinite linear;
    }

    @keyframes spin {
        from { transform:rotate(0deg); }
        to { transform:rotate(360deg); }
    }

    @-webkit-keyframes spin {
        from { -webkit-transform: rotate(0deg); }
        to { -webkit-transform: rotate(360deg); }
    }
</style>
<div class="container">
    <div id="statusMessageContainer">
        {% if message is not null %}
            <p class="alert alert-danger"><i class="fa fa-refresh" id="dp_icon-info"></i>{{ message }}</p>
            <script type="text/javascript">
                setTimeout(function(){location.href="{{ back_redirect_url }}";}, 6000);
            </script>
        {% endif %}
    </div>
    <div class="buttons clearfix">
        <div class="pull-left"><a href="{{ back_redirect_url }}" class="btn btn-default">{{ back_text_back }}</a></div>
    </div>
</div>

{% if message is null %}
<script type="text/javascript">
    window.checkStatusConfig = {
        "url": "{{ check_status_url }}",
        "waitingMessage": "{{ back_waiting_message }}",
        "successMessage": "{{ back_success_message }}",
        "errorMessage": "{{ back_error_message }}",
        "timeoutMessage": "{{ back_timeout_message }}",
        "redirectUrl": "{{ back_redirect_url }}"
    };

    $(document).ready(function(){
    var timeout = 2;//in minutes
    var interval = 5;//in seconds
    var counter = 0;
    var counterLimit = timeout*60/interval;
    var lastRequest = false;
    setInfoMessage(window.checkStatusConfig.waitingMessage);
    addLoader();

    var checkInt = setInterval(function(){
        if(counter<counterLimit)
            ++counter;
        else {
            clearInterval(checkInt);
            hideLoader();
            setErrorMessage(window.checkStatusConfig.timeoutMessage);
        }
        $.get(window.checkStatusConfig.url, {}, function(e){
            switch(e) {
                case '0':
                    break;
                case '1':
                    hideLoader();
                    setSuccessMessage(window.checkStatusConfig.successMessage);
                    clearInterval(checkInt);
                    setTimeout(function(){location.href=window.checkStatusConfig.redirectUrl;}, 6000);
                    break;
                default:
                    hideLoader();
                    setErrorMessage(window.checkStatusConfig.errorMessage);
                    clearInterval(checkInt);
            }
            if(e === 'NO' || parseInt(e) === -1) {
                hideLoader();
                setErrorMessage(window.checkStatusConfig.errorMessage);
            }
        });
    }, interval*1000);
});

function setMessage(message, className, icon) {
    $('#statusMessageContainer p').remove();
    var element = document.createElement('p');
    element.className = 'alert '+className;
    element.innerHTML = '<i class="fa fa-refresh" id="dp_icon-info"></i><span style="overflow:hidden; padding: 10px;">' + message +'</span>';
    $('#statusMessageContainer').append(element);
    if ( (icon !== null) || (icon !== '')) {
        $('i#dp_icon-info').attr('class', icon);
    }   else {
        $('i#dp_icon-info').attr('class','fa fa-bell-o');
    }
   
}

function setErrorMessage(message) {
    setMessage(message, 'alert-danger', 'fa fa-exclamation-triangle');
}

function setSuccessMessage(message) {
    setMessage(message, 'alert-success','fa fa-check-circle');
}

function setInfoMessage(message) {
    setMessage(message, 'alert-info','fa fa-info-circle');
}

function addLoader() {
    var element = document.createElement('div');
    element.className = 'loading';
    $('#statusMessageContainer').append(element);
}

function hideLoader() {
    $('#statusMessageContainer .loading').remove();
}

</script>
{% endif %}

{{ footer }}