{{ header }}
{{ column_left }}
<div class="container">
    <p class="alert alert-success">{{ ocmanage_alert_info }}</p>
    {% if cards_exists %}
    <table id="credit-cards-list" class="col-sm-12 table table-striped table-bordered table-hover">
        <tr class="ocheader">
            <th>{{ ocmanage_card_number }}</th>
            <th>{{ ocmanage_card_brand }}</th>
            <th>{{ ocmanage_register_date }}</th>
            <th>{{ ocmanage_deregister }}</th>
        </tr>
        {% for card in cards %}
        <tr> 
            <td>{{ card.mask }}</td>
            <td>{{ card.brand }}</td>
            <td>{{ card.register_date }}</td>
            <td>
                <button data-id="{{ card.cc_id }}" class="card-remove" title="{{ ocmanage_deregister_card }}">
                    <span class="fa fa-remove"></span>
                </button>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p class="alert alert-danger">
        {% ocmanage_alert_notfound %}
        <button type="button" class="close" data-dismiss="alert">×</button>
    </p>
    {% endif %}
</div>
<script>
    var onRemoveMessage = '{{ ocmanage_on_remove_message }}';
    var onDoneMessage = '{{ ocmanage_on_done_message }}';
    var onFailureMessage = '{{ ocmanage_on_failure_message }}';
    var removeUrl = '{{ ocmanage_remove_url }}';
    $(document).ready(function(){
        $('.card-remove').click(function(){
            if(confirm(onRemoveMessage+' '+$(this).parents('tr').find('td:first').text()+'?')) {
                var cardId = $(this).data('id');
                $.ajax({
                    "url":removeUrl,
                    "method":"post",
                    "data":{
                        "card_id":cardId
                    }
                }).done(function(r){
                    if(r==='OK') {
                        alert(onDoneMessage);
                    } else {
                        console.warn(r);
                        alert(onFailureMessage);
                    }
                    location.reload();
                }).fail(function(r){
                    alert(onFailureMessage);
                });
            }
        });
    });
</script>
{{ footer }}