{{ header }}
{{ column_left }}

<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-dotpay" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary">
                    <i class="fa fa-save"></i>
                </button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default">
                    <i class="fa fa-reply"></i>
                </a>
            </div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
                <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error.permission %}
        <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error.permission }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endif %}
        {% if success_msg %}
        <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success_msg }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-gear"></i> {{ main_header_edit }}</h3>
            </div>
            <div class="panel-heading">
                <p align="center">
                    <br/>
                    <a href="http://dotpay.pl/" target="_blank" />
                    <img align="Dotpay" style="border: 0;" title="Dotpay" src="../image/payment/{{ plugin_name }}.png" />
                    </a>
                </p>
                {% if dotpay_id|trim %}
                <!--
                    <p align="center">
                        <a href="https://ssl.dotpay.pl/s2/login/registration/?affilate_id=module_opencart" target="_blank" class="btn btn-primary btn-lg" title="{{ text_dotpay_register }}">
                            <i class="fa fa-plus"></i>
                            <b>{{ text_dotpay_register }}</b>
                        </a>
                    </p>
                <br/>
                -->
                {% endif %}
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-dotpay" class="form-horizontal">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#{{ plugin_name }}-tab-main" data-toggle="tab"><i class="fa fa-home" aria-hidden="true"></i>&nbsp;{{ tab_main }}</a></li>
                        <li><a href="#{{ plugin_name }}-tab-channels" data-toggle="tab"><i class="fa fa-ban" aria-hidden="true"></i>&nbsp;{{ tab_channels }}</a></li>
                        <li><a href="#{{ plugin_name }}-tab-statuses" data-toggle="tab"><i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;{{ tab_statuses }}</a></li>
                        <li><a href="#{{ plugin_name }}-tab-cards" data-toggle="tab"><i class="fa fa-credit-card" aria-hidden="true"></i>&nbsp;{{ tab_cards }}</a></li>
                        <li><a href="#{{ plugin_name }}-tab-env" data-toggle="tab"><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;{{ tab_env }}</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="{{ plugin_name }}-tab-main">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">
                                    {% if dotpay_status != '1' %}
                                    <font color='red'>
                                    {% else %}
                                    <font color='green'>
                                    {% endif %}
                                    {{ text_active_status }}
                                    </font>
                                </label>
                                <div class="col-sm-6">
                                    <select class="form-control" name="{{ plugin_field_name }}_status" style="width: auto !important;">
                                        <option value="1"{% if dotpay_status == true %}  selected="selected"{% endif %}>{{ text_enabled }}</option>
                                        <option value="0"{% if dotpay_status == false %}  selected="selected"{% endif %}>{{ text_disabled }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><span class="required" data-toggle="tooltip" title="{{ text_dotpay_id_help }}"></span> {{ text_dotpay_id }}</label>                           
                                <div class="col-sm-6">
                                    <input class="form-control" type="text" name="{{ plugin_field_name }}_id" maxlength="6" size="6" value="{{ dotpay_id }}" pattern="[0-9]{6}" title="{{ text_dotpay_id_validate }}" style="width: auto !important;" />
                                    {% if error.dotpay_id %}
                                        <small class="text-danger">{{ error.dotpay_id }}</small>
                                    {% endif %}
                                </div>                          
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><span class="required" data-toggle="tooltip" title="{{ text_dotpay_pin_help }}"></span> {{ text_dotpay_pin }}</label>                           
                                <div class="col-sm-6">
                                    <input class="form-control" type="text" name="{{ plugin_field_name }}_pin" size="32" maxlength="32"  value="{{ dotpay_pin }}" pattern="[0-9A-Za-z]{16,32}" title="{{ text_dotpay_pin_validate }}" style="width: auto !important;" />
                                    {% if error.dotpay_pin %}
                                        <small class="text-danger">{{ error.dotpay_pin }}</small>
                                    {% endif %}
                                </div>                          
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="{{ plugin_field_name }}_test">{{ text_dotpay_test }}</label>
                                <div class="col-sm-6">
                                    <select name="{{ plugin_field_name }}_test" id="{{ plugin_field_name }}_test" class="form-control" style="width: auto !important;">
                                        <option value="1"{% if dotpay_test == true %} selected="selected"{% endif %}>{{ text_enabled }}</option>
                                        <option value="0"{% if dotpay_test == false %} selected="selected"{% endif %}>{{ text_disabled }}</option>
                                    </select>
                                    {{ text_dotpay_test_info }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="{{ plugin_field_name }}_nonproxy">{{ text_dotpay_nonproxy }}</label>
                                <div class="col-sm-6">
                                    <select name="{{ plugin_field_name }}_nonproxy" id="{{ plugin_field_name }}_nonproxy" class="form-control" style="width: auto !important;">
                                        <option value="1"{% if dotpay_nonproxy == true %} selected="selected"{% endif %}>{{ text_enabled }}</option>
                                        <option value="0"{% if dotpay_nonproxy == false %} selected="selected"{% endif %}>{{ text_disabled }}</option>
                                    </select>
                                    {{ text_dotpay_nonproxy_info }}
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{{ text_sort_order }}</label>
                                <div class="col-sm-6">
                                    <input class="form-control" type="number" name="{{ plugin_field_name }}_sort_order" value="{% if dotpay_sort_order is empty %}1{% else %}{{ dotpay_sort_order }}{% endif %}" style="width: auto !important;" />
                                </div>
                            </div>
                            <div class="form-group" style="background-color: #f9f9f9">
                                <br>
                                {{ text_dotpay_api_info }}
                            </div>
                            <div class="form-group" style="background-color: #f9f9f9">
                                <label class="col-sm-3 control-label">{{ text_dotpay_username }}</label>
                                <div class="col-sm-6">
                                    <input class="form-control" type="text" name="{{ plugin_field_name }}_username" value="{{ dotpay_username }}" style="width: auto !important;" />                                                                  
                                </div>
                            </div>
                            <div class="form-group" style="background-color: #f9f9f9">
                                <label class="col-sm-3 control-label">{{ text_dotpay_password }}</label>
                                <div class="col-sm-6">
                                    <input class="form-control" type="password" name="{{ plugin_field_name }}_password" value="{{ dotpay_password }}" style="width: auto !important;" />                                                                  
                                </div>
                            </div>
                        </div>
                        
                        <div class="tab-pane" id="{{ plugin_name }}-tab-channels">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="{{ plugin_field_name }}_oc">{{ text_dotpay_oc }}</label>
                                <div class="col-sm-10">
                                    <select name="{{ plugin_field_name }}_oc" id="{{ plugin_field_name }}_oc" class="form-control" style="width: auto !important;">
                                        <option value="1"{% if dotpay_oc == true %} selected="selected"{% endif %}>{{ text_enabled }}</option>
                                        <option value="0"{% if dotpay_oc == false %} selected="selected"{% endif %}>{{ text_disabled }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="{{ plugin_field_name }}_pv">{{ text_dotpay_pv }}</label>
                                <div class="col-sm-10">
                                    <select name="{{ plugin_field_name }}_pv" id="{{ plugin_field_name }}_pv" class="form-control" style="width: auto !important;">
                                        <option value="1"{% if dotpay_pv == true %} selected="selected"{% endif %}>{{ text_enabled }}</option>
                                        <option value="0"{% if dotpay_pv == false %} selected="selected"{% endif %}>{{ text_disabled }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group pv-details">
                                <label class="col-sm-3 control-label"><span class="required" data-toggle="tooltip" title="{{ text_dotpay_id_help }}"></span> {{ text_dotpay_pv_id }}</label>                           
                                <div class="col-sm-6">
                                    <input class="form-control" type="text" name="{{ plugin_field_name }}_pv_id" maxlength="6" value="{{ dotpay_pv_id }}" pattern="[0-9]{6}" title="{{ text_dotpay_id_validate }}" style="width: auto !important;" />
                                    {% if error.dotpay_pv_id %}
                                        <input class="text-danger" >{{ error.dotpay_pv_id }}</input>
                                    {% endif %}
                                </div>                          
                            </div>
                            <div class="form-group pv-details">
                                <label class="col-sm-3 control-label"><span class="required" data-toggle="tooltip" title="{{ text_dotpay_pin_help }}"></span> {{ text_dotpay_pv_pin }}</label>                           
                                <div class="col-sm-6">
                                    <input class="form-control" type="text" name="{{ plugin_field_name }}_pv_pin" size="32" maxlength="32" value="{{ dotpay_pv_pin }}" pattern="[0-9A-Za-z]{16,32}" title="{{ text_dotpay_pin_validate }}" style="width: auto !important;"/>
                                    {% if error.dotpay_pv_pin %}
                                        <input class="text-danger">{{ error.dotpay_pv_pin }}</input>
                                    {% endif %}
                                </div>                          
                            </div>
                            <div class="form-group pv-details">
                                <label class="col-sm-3 control-label"><span class="required" data-toggle="tooltip" title="{{ text_dotpay_pv_curr_help }}"></span> {{ text_dotpay_pv_curr }}</label>                           
                                <div class="col-sm-6">
                                    <input class="form-control" type="text" name="{{ plugin_field_name }}_pv_curr" value="{{ dotpay_pv_curr }}" pattern="[A-Za-z,]*" title="{{ text_dotpay_pv_curr_validate }}" style="width: auto !important;" />
                                    {% if error.dotpay_pv_curr %}
                                        <input class="text-danger">{{ error.dotpay_pv_curr }}</input>
                                    {% endif %}
                                </div>                          
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="{{ plugin_field_name }}_cc">{{ text_dotpay_cc }}</label>
                                <div class="col-sm-10">
                                    <select name="{{ plugin_field_name }}_cc" id="{{ plugin_field_name }}_pv" class="form-control" style="width: auto !important;">
                                        <option value="1"{% if dotpay_cc == true %} selected="selected"{% endif %}>{{ text_enabled }}</option>
                                        <option value="0"{% if dotpay_cc == false %} selected="selected"{% endif %}>{{ text_disabled }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="{{ plugin_field_name }}_mp">{{ text_dotpay_mp }}</label>
                                <div class="col-sm-10">
                                    <select name="{{ plugin_field_name }}_mp" id="{{ plugin_field_name }}_mp" class="form-control" style="width: auto !important;">
                                        <option value="1"{% if dotpay_pv == true %} selected="selected"{% endif %}>{{ text_enabled }}</option>
                                        <option value="0"{% if dotpay_pv == false %} selected="selected"{% endif %}>{{ text_disabled }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="{{ plugin_field_name }}_blik">{{ text_dotpay_blik }}</label>
                                <div class="col-sm-10">
                                    <select name="{{ plugin_field_name }}_blik" id="{{ plugin_field_name }}_blik" class="form-control" style="width: auto !important;">
                                        <option value="1"{% if dotpay_blik == true %} selected="selected"{% endif %}>{{ text_enabled }}</option>
                                        <option value="0"{% if dotpay_blik == false %} selected="selected"{% endif %}>{{ text_disabled }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="{{ plugin_field_name }}_widget">{{ text_dotpay_widget }}</label>
                                <div class="col-sm-10">
                                    <select name="{{ plugin_field_name }}_widget" id="{{ plugin_field_name }}_widget" class="form-control" style="width: auto !important;">
                                        <option value="1"{% if dotpay_widget == true %} selected="selected"{% endif %}>{{ text_enabled }}</option>
                                        <option value="0"{% if dotpay_widget == false %} selected="selected"{% endif %}>{{ text_disabled }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                        <div class="tab-pane" id="{{ plugin_name }}-tab-statuses">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{{ text_dotpay_status_completed }}</label>
                                <div class="col-sm-6">
                                    <select class="form-control" name="{{ plugin_field_name }}_status_completed" style="width: auto !important;">
                                        {% for status in order_statuses %}
                                            <option value="{{ status.order_status_id }}"{% if status.order_status_id == dotpay_status_completed %} selected="selected"{% endif %}>{{ status.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{{ text_dotpay_status_rejected }}</label>
                                <div class="col-sm-6">
                                    <select class="form-control" name="{{ plugin_field_name }}_status_rejected" style="width: auto !important;">
                                        {% for status in order_statuses %}
                                            <option value="{{ status.order_status_id }}"{% if status.order_status_id == dotpay_status_rejected %} selected="selected"{% endif %}>{{ status.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{{ text_dotpay_status_processing }}</label>
                                <div class="col-sm-6">
                                    <select class="form-control" name="{{ plugin_field_name }}_status_processing" style="width: auto !important;">
                                        {% for status in order_statuses %}
                                            <option value="{{ status.order_status_id }}"{% if status.order_status_id == dotpay_status_processing %} selected="selected"{% endif %}>{{ status.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{{ text_dotpay_status_return }}</label>
                                <div class="col-sm-6">
                                    <select class="form-control" name="{{ plugin_field_name }}_status_return" style="width: auto !important;">
                                        {% for status in order_statuses %}
                                            <option value="{{ status.order_status_id }}"{% if status.order_status_id == dotpay_status_return %} selected="selected"{% endif %}>{{ status.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                                                            
                        <div class="tab-pane" id="{{ plugin_name }}-tab-cards">
                            <table id="oneclick-cards-list" class="display" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>{{ ocmanage_email }}</th>
                                        <th>{{ ocmanage_username }}</th>
                                        <th>{{ ocmanage_card_number }}</th>
                                        <th>{{ ocmanage_card_brand }}</th>
                                        <th>{{ ocmanage_register_date }}</th>
                                        <th>{{ ocmanage_deregister }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for card in cards %}
                                    <tr>
                                        <td>{{ card.email }}</td>
                                        <td>{{ card.firstname }}&nbsp;{{ card.lastname }}</td>
                                        <td>{{ card.mask }}</td>
                                        <td>{{ card.brand }}</td>
                                        <td>{{ card.register_date }}</td>
                                        <td>
                                            <button data-id="{{ card.cc_id }}" class="card-remove" title="{{ ocmanage_deregister_card }}">
                                                <span class="fa fa-remove"></span>
                                            </button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
						
                        <div class="tab-pane" id="{{ plugin_name }}-tab-env">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{{ text_dotpay_plugin_version }}</label>
                                <div class="col-sm-3">
                                    <input class="form-control" readonly type="text" name="{{ plugin_field_name }}_plugin_version" value="{{ dotpay_plugin_version }}" style="width: auto !important;" size="6" />                                                                 
                                </div>
                                <div class="col-sm-3">
                                    {{ text_dotpay_plugin_version_check }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{{ text_dotpay_api_version }}</label>
                                <div class="col-sm-6">
                                    <input class="form-control" readonly type="text" name="{{ plugin_field_name }}_api_version" value="{{ dotpay_api_version }}" style="width: auto !important;" size="6"  />                                                                  
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{{ text_dotpay_URL }}</label>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="basic-addon1">{{ base_url }}</span>
                                        <input class="form-control" readonly type="text" name="{{ plugin_field_name }}_URL" value="{{ dotpay_URL }}" />    
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{{ text_dotpay_URLC }}</label>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="basic-addon1">{{ base_url }}</span>
                                        <input class="form-control" readonly type="text" name="{{ plugin_field_name }}_URLC" value="{{ dotpay_URLC }}"/>
                                    </div>
                                </div>
                            </div>
                        </div>
	
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function setVisibilityPVDetails() {
        if($('#{{ plugin_name }}_pv').val()=='1') {
            $('.pv-details').show();
            $('.pv-details input').attr('required', true);
        } else {
            $('.pv-details').hide();
            $('.pv-details input').removeAttr('required')
        }
    }
    $(document).ready(function() {
        var onRemoveMessage = '{{ ocmanage_on_remove_message }}';
        var onDoneMessage = '{{ ocmanage_on_done_message }}';
        var onFailureMessage = '{{ ocmanage_on_failure_message }}';
        var removeUrl = '{{ ocmanage_remove_url }}';
        setVisibilityPVDetails();
        $('#{{ plugin_name }}_pv').change(setVisibilityPVDetails);
        $('#oneclick-cards-list').DataTable({
            "language": {
                "url": 'view/javascript/dotpay/Dt.{{ datatable_language }}.json'
            }
        });
        $('.card-remove').click(function(e){
            if(confirm(onRemoveMessage+' '+$(this).parents('tr').find('td:first').text()+'?')) {
                var cardId = $(this).data('id');
                $.ajax({
                    "url":removeUrl,
                    "method":"post",
                    "data":{
                        "card_id":cardId
                    }
                }).done(function(r){
                    if(r==='OK') {
                        alert(onDoneMessage);
                    } else {
                        console.warn(r);
                        alert(onFailureMessage);
                    }
                    location.reload();
                }).fail(function(r){
                    alert(onFailureMessage);
                });
            }
            e.stopPropagation();
            return false;
        });
    });
</script>
{{ footer }}